.fa {
    width: 16px;
}

.fas {
    width: 20px;
    cursor: pointer;
}

.fa-edit {
    color: dodgerblue;
}

.fa-trash {
    color: gray;
}

header h3 {
    text-align: right;
}

@media only screen and (max-width: 992px) {
    header h3, h1 {
        text-align: center;
    }
}
